venv_model/
.venv/
__pycache__/
*.pyc

# Ignorar TODO lo que hay dentro de data...
data/*

# ...pero hacer excepciones para estos dos directorios:
!data/models/
!data/models/**
!data/features/
!data/features/**

logs/
*.keras
*.mp4